div .dropdown {
    position: relative;
    width: 137px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: -18px 0 0 0;
    left: calc(100% - 137px);
    box-shadow: rgb(105 105 105) 0 0 6px;
}
div .dropdown button {
    background-image: none;
    height: 53px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #494E61;
}
div .dropdown button:hover {
    background-color: #F2F3F6;
}