html {
  background-color: #F2F3F6;
  width: 100%;
}
.App {
  text-align: center;
  background-color: #F2F3F6;
  width: 100%;
}

.App-header {
  background-color: #494E61;
  height: 73px;
  display: flex;
  align-items: center;
}
.App-header h6{
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.App-header::before {
  content: '';
  border-radius: 50%;
  margin: 0 12px 0 27px;
  box-sizing: border-box;
  height: 17px;
  width: 17px;
  border: 2px solid #7D82F7;

}
.App-header::after {
  content: '';
  height: 35px;
  width: 2px;
  background-color: #757B8F;
  margin: 0 0 0 31px;
}
