.servers ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.servers li {
    width: 100%;
    height: 57px;
    background-color: #FFFFFF;
    border: 2px solid #EDEDF0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.servers {
    width: 1106px;
}
.servers div {
    margin: 18px 0 0 42px;
    text-align: left;
    width: 100%;
}
.servers li:first-child div:first-child{
    width: 520px;
}
.servers li:first-child div {
    margin: 37px 0 0 42px;
}
.servers li:first-child {
    height: 74px;
}
.servers li:last-child {
    margin-bottom: 100px;
}
.servers li:first-child span {
    color: #9ca7d3;
}
.servers li:first-child div:last-child span {
    margin-left: 10px;
}
.servers li span {
    color: #494E61;
    font-family: "Open Sans", sans-serif;
}
.servers li button {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%239CA7D3'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z'/%3E%3C/svg%3E");
    height: 18px;
    width: 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    float: right;
    margin-right: 36px;
}
.servers .online {
    color: #33CAD4;
    height: 2px;
}
.servers .online::before {
    content:"\A";
    width:10px;
    height:10px;
    border-radius:50%;
    background: #33CAD4;
    display:inline-block;
    margin:0 5px 1px 0;
}
.servers .offline::before {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23EA5885%22%20viewBox%3D%220%200%2048%2048%22%20width%3D%2220px%22%20height%3D%2220px%22%3E%3Cpath%20d%3D%22M%2038.982422%206.9707031%20A%202.0002%202.0002%200%200%200%2037.585938%207.5859375%20L%2024%2021.171875%20L%2010.414062%207.5859375%20A%202.0002%202.0002%200%200%200%208.9785156%206.9804688%20A%202.0002%202.0002%200%200%200%207.5859375%2010.414062%20L%2021.171875%2024%20L%207.5859375%2037.585938%20A%202.0002%202.0002%200%201%200%2010.414062%2040.414062%20L%2024%2026.828125%20L%2037.585938%2040.414062%20A%202.0002%202.0002%200%201%200%2040.414062%2037.585938%20L%2026.828125%2024%20L%2040.414062%2010.414062%20A%202.0002%202.0002%200%200%200%2038.982422%206.9707031%20z%22%2F%3E%3C%2Fsvg%3E");
    display: inline-block;
    content: '';
    height: 20px;
    width: 20px;
    margin: 0 2px -4px -5px;
}