input {
    color: #A9AEC1;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 44px;
    background-color: #F2F3F6;
    width: 177px;
    height: 35px;
    border: none;
}
.box-input ul {
    position: absolute;
    margin:0;
    padding:0;
    list-style:none;
    top: 170px;
    width: 264px;
    max-height: 300px;
    background-color: #FFFFFF;
    overflow: auto;
    box-shadow: rgb(105 105 105) 0 0 6px;
}
.box-input ul li {
    color: #494E61;
    font-family: "Open Sans", sans-serif;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box-input ul li:hover {
    background-color: #F2F3F6;
    cursor: pointer;
}
input:focus{
    outline: none;
}
input:focus::-webkit-input-placeholder {
    color: #A9AEC1;
}