.main {
    text-align: -webkit-center;
}
.container {
    width: 1106px;
    margin: 42px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box-input::before {
    position: absolute;
    content: '';
    margin-left: 14px;
    height: 20px;
    width: 20px;
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23A9AEC1%22%20viewBox%3D%220%200%2030%2030%22%20width%3D%2220px%22%20height%3D%2220px%22%3E%3Cpath%20d%3D%22M%2013%203%20C%207.4889971%203%203%207.4889971%203%2013%20C%203%2018.511003%207.4889971%2023%2013%2023%20C%2015.396508%2023%2017.597385%2022.148986%2019.322266%2020.736328%20L%2025.292969%2026.707031%20A%201.0001%201.0001%200%201%200%2026.707031%2025.292969%20L%2020.736328%2019.322266%20C%2022.148986%2017.597385%2023%2015.396508%2023%2013%20C%2023%207.4889971%2018.511003%203%2013%203%20z%20M%2013%205%20C%2017.430123%205%2021%208.5698774%2021%2013%20C%2021%2017.430123%2017.430123%2021%2013%2021%20C%208.5698774%2021%205%2017.430123%205%2013%20C%205%208.5698774%208.5698774%205%2013%205%20z%22%2F%3E%3C%2Fsvg%3E") no-repeat;
}
.box-input {
    width: 263px;
    height: 38px;
    border: 2px solid #D4D7E1;
    border-radius: 25px;
}
.header h4 {
    margin-top: 11px;
    font-size: 15px;
}
.header h2,h4 {
    margin: 0;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    color: #494E61;
}